USE [master]
GO
/****** Object:  Database [ai_gateway]    Script Date: 6/26/2026 10:55:45 PM ******/
CREATE DATABASE [ai_gateway]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ai_gateway', FILENAME = N'C:\Users\Fabulouscode\ai_gateway.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ai_gateway_log', FILENAME = N'C:\Users\Fabulouscode\ai_gateway_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ai_gateway].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ai_gateway]
GO
/****** Object:  Table [dbo].[api_keys]    Script Date: 6/26/2026 10:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[api_keys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[key_hash] [varchar](64) NOT NULL,
	[key_prefix] [varchar](16) NOT NULL,
	[owner_name] [varchar](200) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[tier] [varchar](20) NOT NULL,
	[rate_limit] [int] NOT NULL,
	[expires_at] [datetimeoffset](7) NULL,
	[last_used] [datetimeoffset](7) NULL,
	[ip_whitelist] [varchar](1000) NULL,
	[created_date] [datetimeoffset](7) NOT NULL,
	[updated_date] [datetimeoffset](7) NOT NULL,
	[created_by] [varchar](100) NULL,
	[updated_by] [varchar](100) NULL,
	[is_deleted] [bit] NOT NULL,
	[deleted_at] [datetimeoffset](7) NULL,
	[key_encrypted] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_api_keys_key_hash] UNIQUE NONCLUSTERED 
(
	[key_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_logs]    Script Date: 6/26/2026 10:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[api_key_id] [int] NULL,
	[key_prefix] [varchar](16) NULL,
	[model] [varchar](100) NULL,
	[endpoint] [varchar](100) NOT NULL,
	[prompt] [varchar](max) NULL,
	[response] [varchar](max) NULL,
	[prompt_tokens] [int] NULL,
	[completion_tokens] [int] NULL,
	[total_tokens] [int] NULL,
	[status_code] [int] NOT NULL,
	[response_time_ms] [int] NULL,
	[ip_address] [varchar](64) NULL,
	[user_agent] [varchar](400) NULL,
	[request_id] [varchar](64) NULL,
	[error] [varchar](max) NULL,
	[created_date] [datetimeoffset](7) NOT NULL,
	[updated_date] [datetimeoffset](7) NOT NULL,
	[created_by] [varchar](100) NULL,
	[updated_by] [varchar](100) NULL,
	[is_deleted] [bit] NOT NULL,
	[deleted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 6/26/2026 10:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[setting_key] [varchar](100) NOT NULL,
	[setting_value] [varchar](max) NULL,
	[created_date] [datetimeoffset](7) NOT NULL,
	[updated_date] [datetimeoffset](7) NOT NULL,
	[created_by] [varchar](100) NULL,
	[updated_by] [varchar](100) NULL,
	[is_deleted] [bit] NOT NULL,
	[deleted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_settings_key] UNIQUE NONCLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_api_keys_status]    Script Date: 6/26/2026 10:55:45 PM ******/
CREATE NONCLUSTERED INDEX [ix_api_keys_status] ON [dbo].[api_keys]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_request_logs_api_key_id]    Script Date: 6/26/2026 10:55:45 PM ******/
CREATE NONCLUSTERED INDEX [ix_request_logs_api_key_id] ON [dbo].[request_logs]
(
	[api_key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_request_logs_created_date]    Script Date: 6/26/2026 10:55:45 PM ******/
CREATE NONCLUSTERED INDEX [ix_request_logs_created_date] ON [dbo].[request_logs]
(
	[created_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_request_logs_model]    Script Date: 6/26/2026 10:55:45 PM ******/
CREATE NONCLUSTERED INDEX [ix_request_logs_model] ON [dbo].[request_logs]
(
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
